@use "sass:color";
@use "mixins";
@use "variables";
@use "extend";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/**
  * Basic styling
  */
body {
  font: variables.$base-font-weight #{variables.$base-font-size}/#{variables.$base-line-height}
    variables.$base-font-family;
  color: variables.$text-color;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  background-image: url("/assets/adwaita-day.jpg");
  background-repeat: repeat;
  background-position: top center;
  background-attachment: fixed;
}

/**
  * Set `margin-bottom` to maintain vertical rhythm
  */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: variables.$spacing-unit * 0.75;
}

/**
  * Images
  */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
  * Figures
  */
figure > img {
  display: block;
}

figcaption {
  font-size: variables.$small-font-size;
}

/**
  * hr
  */
hr {
  border: 0;
  border-bottom: 2px solid variables.$grey-color-light;
  margin-bottom: variables.$spacing-unit;
}

/**
  * Lists
  */
ul,
ol {
  margin-left: variables.$spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
  * Headings
  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: variables.$base-font-weight;
}

/**
  * Links
  */
a {
  color: variables.$brand-color;
  text-decoration: none;

  &:visited {
    color: color.adjust(variables.$brand-color, $lightness: -15%);
  }

  &:hover {
    color: variables.$text-color;
    text-decoration: underline;
  }
}

/**
  * Blockquotes
  */
blockquote {
  color: variables.$grey-color;
  border-left: 5px solid variables.$grey-color-light;
  padding-left: 18px;
  padding-top: 8px;
  padding-bottom: 12px;
  font-size: 18px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
  * Wrapper
  */
.wrapper {
  max-width: calc(
    #{variables.$content-width} - (#{variables.$spacing-unit} * 2)
  );
  margin-left: auto;
  margin-right: auto;
  padding-left: variables.$spacing-unit;
  padding-right: variables.$spacing-unit;
  @extend .clearfix;

  @include mixins.media-query(variables.$on-laptop) {
    max-width: calc(#{variables.$content-width} - (#{variables.$spacing-unit}));
    padding-left: calc(variables.$spacing-unit / 2);
    padding-right: calc(variables.$spacing-unit / 2);
  }
}

/**
 * Page content
 */
.page-content {
  padding: variables.$spacing-unit 0;
  background-color: variables.$background-color;
}

.page-heading {
  font-size: 20px;
}

/**
 * Page content
 */
.list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: variables.$spacing-unit;
    border-bottom: 1px solid variables.$grey-color-light;
    padding-bottom: variables.$spacing-unit;
  }
}
.list-more {
  display: inline-block;

  border: 1px solid variables.$brand-color;
  padding: 0 8px;
  transition: all 0.1s ease-in-out;
  border-radius: 3px;

  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: color.adjust(variables.$brand-color, $lightness: -8%);
  }

  + .list-more {
    margin-left: 15px;
  }
}
