.site-footer {
  color: #fff;
  padding: $spacing-unit 0;
  border-top: 5px solid $main-color-dark;
  background-color: rgba(0, 0, 0, 0.3);

  a,
  * {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  //   svg {
  //     filter: brightness(200%);
  //   }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
  color: $grey-color;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
}

.footer-col {
  padding-right: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;
}

.footer-col-1 {
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col-wrapper {
    display: block;
  }
  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
