// font
$base-font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.75;

// spacing
$spacing-unit: 30px;

// colors
$text-color: #232323;
$text-color-light: #fff;
$background-color: #f9f9f9;
$brand-color: #7bb0a6;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$main-color: $brand-color;
$main-color-light: lighten($main-color, 40%);
$main-color-dark: darken($main-color, 25%);

// width
$content-width: 860px;

// break-points
$on-palm: 600px;
$on-laptop: 800px;
